/lesson1-Hello world/nbproject/private/
/lesson1-Hello world/build/
/Lesson2TypeCasting/nbproject/private/
/Lesson2TypeCasting/build/
/Lesson4Strings/nbproject/private/
/Lesson4Strings/build/
/Lesson5Booleans/nbproject/private/
/Lesson5Booleans/build/
/Lesson6If-Else/nbproject/private/
/Lesson6If-Else/build/
/Lesson6Switch/nbproject/private/
/Lesson6Switch/build/